In [ ]:
import numpy as np

# array1 = np.array([1, 2, 3])
# print('array1 type:', type(array1))
# print('array1 array 형태:', array1.shape)

# array2 = np.array([[1, 2, 3],
#                   [2, 3, 4]])
#ㅇ print('array2 type:', type(array2))
# print('array2 array 형태:', array2.shape)

# array3 = np.array([[1, 2, 3]])
# print('array3 type:', type(array3))
# print('array3 array 형태:', array3.shape)

# print('array1: {0}차원, array2: {1}차원, array3: {2}차원'.format(array1.ndim, array2.ndim, array3.ndim))

# list1 = [1, 2, 3]
# print(type(list1))
# array1 = np.array(list1)
# print(type(array1))
# print(array1, array1.dtype) 

# list2 = [1, 2, 'test']
# array2 = np.array(list2)
# print(array2, array2.dtype)

# list3 = [1, 2, 3.0]
# array3 = np.array(list3)
# print(array3, array3.dtype)

# array_int = np.array([1, 2, 3])
# array_float = array_int.astype('float64')
# print(array_float, array_float.dtype)

# array_int1 = array_float.astype('int32')
# print(array_int1, array_int1.dtype)

# array_float1 = np.array([1.1, 2.1, 3.1])
# array_int2 = array_float1.astype('int32')
# print(array_int2, array_int2.dtype)

# sequence_array = np.arange(10)
# print(sequence_array)
# print(sequence_array.dtype, sequence_array.shape)

# zero_array = np.zeros((3, 2), dtype = 'int32')
# print(zero_array)
# print(zero_array.dtype, zero_array.shape)

# one_array = np.ones((3, 2))
# print(one_array)
# print(one_array.dtype, one_array.shape)

# array1 = np.arange(10)
# print('array1:\n', array1)

# array2 = array1.reshape(2, 5)
# print('array2:\n', array2)

# array3 = array1.reshape(5, 2)
# print('array3:\n', array3)

# array1.reshape(4, 3)

# array1 = np.arange(10)
# print(array1)
# array2 = array1.reshape(-1, 5)
# print('array2 shape:', array2.shape)
# array3 = array1.reshape(5, -1)
# print('array3 shape:', array3.shape)

# array4 = array1.reshape(-1, 4)

array1 = np.arange(8)
array3d = array1.reshape((2, 2, 2))
print('array3d:\n', array3d.tolist())

array5 = array3d.reshape(-1, 1)
print('array5:\n', array5.tolist())
print('array5 shape:', array5.shape)

array6 = array1.reshape(-1, 1)
print('array6:\n', array6.tolist())
print('array6 shape:', array6.shape)

array3d:
 [[[0, 1], [2, 3]], [[4, 5], [6, 7]]]
array5:
 [[0], [1], [2], [3], [4], [5], [6], [7]]
array5 shape: (8, 1)
array6:
 [[0], [1], [2], [3], [4], [5], [6], [7]]
array6 shape: (8, 1)
[[0]
 [1]
 [2]
 [3]
 [4]
 [5]
 [6]
 [7]] [[0]
 [1]
 [2]
 [3]
 [4]
 [5]
 [6]
 [7]]

In [3]:
import pymysql

host = 'localhost'
port = 3306
database = 'madangdb'
username = 'madang'
password = 'madang'

conflag = True

try:
    print('데이터베이스 연결 준비..')
    conn = pymysql.connect(host = host, user = username, passwd = password, db = database, port = port, charset = 'utf8')
    print('데이터베이스 연결 성공')
except Exception as e:
    print('데이터베이스 연결 실패') 
    conflag = False

if conflag == True:
    cursor = conn.cursor()
    sqlstring = 'select * from book;'
    res = cursor.execute(sqlstring)
    data = cursor.fetchall()
    print('{0}\t{1:<} \t{2:<} \t{3:>}'.format('BOOK NO', 'BOOK NAME', 'PUBLISHER', 'PRICE'))
    for rowdata in data:
        print('{0}\t{1:<} \t{2:<} \t{3:>}'.format(rowdata[0], rowdata[1], rowdata[2], rowdata[3]))
    
    cursor.close()
    conn.close()

데이터베이스 연결 준비..
데이터베이스 연결 성공
BOOK NO	BOOK NAME 	PUBLISHER 	PRICE
1	축구의 역사 	굿스포츠 	7000
2	축구 아는 여자 	나무수 	13000
3	축구의 이해 	대한미디어 	22000
4	골프 바이블 	대한미디어 	35000
5	피겨 교본 	굿스포츠 	8000
6	배구 단계별기술 	굿스포츠 	6000
7	야구의 추억 	이상미디어 	20000
8	야구를 부탁해 	이상미디어 	13000
9	올림픽 이야기 	삼성당 	7500
10	Olympic Champions 	Pearson 	13000